h1{
    color: black;
    font-size: 46px;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("../images/background.jpeg"); /*Put your image url*/
    background-size: cover;
    background-position: center;
    opacity: 0.75; /*Value from 0.0 to 1.0*/
}
